In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

In [8]:
cd data/opt_data/

C:\Users\dudtj\busan_moving_person\data\opt_data

In [9]:
file_list = os.listdir("./")
f_list = [file for file in file_list if file.endswith(".csv")]
f_list

['100c_201901_busan_dense.csv',
 '100c_201902_busan_dense.csv',
 '100c_201903_busan_dense.csv',
 '100c_201904_busan_dense.csv',
 '100c_201905_busan_dense.csv',
 '100c_201906_busan_dense.csv',
 '100c_201907_busan_dense.csv',
 '100c_201908_busan_dense.csv',
 '100c_201909_busan_dense.csv',
 '100c_201910_busan_dense.csv',
 '100c_201911_busan_dense.csv',
 '100c_201912_busan_dense.csv']

In [31]:
datadf = pd.read_csv('100c_201901_busan_dense.csv', encoding='UTF-8')
datadf = datadf.groupby(by=['id', 'x', 'y']).sum().reset_index()
datadf = datadf[datadf.id > 0]

datadf.iloc[:,3:]

         total
0      6808.64
1         4.26
2     27234.56
3      4429.90
4      5808.58
...        ...
2537   7635.76
2538   4262.05
2539   3328.58
2540   2304.25
2541   1547.96

[2542 rows x 1 columns]

In [35]:
for i in tqdm(range(len(f_list))):
    datadf = pd.read_csv(f_list[i], error_bad_lines=False, encoding='UTF-8')
    datadf = datadf.groupby(by=['id', 'x', 'y']).sum().reset_index()
    datadf = datadf[datadf.id > 0]
    
    datadf['new_total'] = datadf.iloc[:,3:].sum(axis=1)
    
    col1 = 'new_total'+str(f_list[i][5:11])

    datadf = datadf.rename(columns = {'new_total':col1})
    a = datadf[['id','x','y', col1]]
    if i == 0:
        fpdf = a
    else:
        fpdf = pd.merge(fpdf, a, how='outer', on=['id','x','y'])
    
    print(f_list[i])
    
fpdf.to_csv('100c_busan_dense_total.csv', encoding = "UTF-8" ,index = False)
print("DONE :)")

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:00<00:00, 80.94it/s]

100c_201901_busan_dense.csv
100c_201902_busan_dense.csv
100c_201903_busan_dense.csv
100c_201904_busan_dense.csv
100c_201905_busan_dense.csv
100c_201906_busan_dense.csv
100c_201907_busan_dense.csv
100c_201908_busan_dense.csv
100c_201909_busan_dense.csv
100c_201910_busan_dense.csv
100c_201911_busan_dense.csv
100c_201912_busan_dense.csv
DONE :)

In [18]:
fpdf.head(100)

,id,x,y,timezn_cd,m_201901,f_201901,m_201902,f_201902,m_201903,f_201903,...,m_201908,f_201908,m_201909,f_201909,m_201910,f_201910,m_201911,f_201911,m_201912,f_201912
0,49222847,492225,284725,0,56.08,48.81,50.52,40.86,57.27,48.81,...,67.51,65.70,63.36,63.28,64.73,64.08,47.26,57.11,44.85,45.23
1,49222847,492225,284725,1,65.96,57.05,56.17,44.98,66.17,56.86,...,84.25,78.27,80.40,79.53,81.67,78.08,63.00,73.17,58.78,57.79
2,49222847,492225,284725,2,71.10,61.11,59.77,49.77,69.11,58.39,...,86.49,80.42,80.78,80.51,87.59,80.69,69.59,75.35,61.90,63.65
3,49222847,492225,284725,3,77.09,64.61,65.44,51.49,70.08,62.30,...,90.66,83.50,85.86,84.17,92.70,79.59,72.35,76.49,64.55,67.74
4,49222847,492225,284725,4,80.41,68.43,68.36,54.21,71.36,64.30,...,92.30,85.50,89.09,84.30,94.85,82.07,75.88,75.31,67.02,71.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,49272837,492725,283725,23,11481.65,11550.74,10845.56,10638.39,11480.02,11721.10,...,11313.00,11543.47,11045.61,11429.72,11534.17,12227.27,11079.91,11377.73,11291.92,11516.73
96,49272842,492725,284225,0,4388.56,3735.14,3924.04,3467.90,4239.74,3580.19,...,4476.38,4128.23,4220.86,4174.19,3959.97,4090.01,3903.52,3994.91,3960.41,3870.43
97,49272842,492725,284225,1,4933.11,4346.45,4581.75,4096.90,4860.77,4263.08,...,5317.56,4971.56,5010.63,5021.06,4710.36,4861.28,4686.39,4700.20,4774.71,4670.94
98,49272842,492725,284225,2,4824.08,4379.85,4619.09,4136.64,4846.81,4408.67,...,5421.89,5179.27,5113.62,5047.28,4722.73,4928.01,4617.96,4711.01,4803.37,4795.12
99,49272842,492725,284225,3,4889.40,4502.72,4795.48,4278.19,5043.35,4616.32,...,5720.15,5350.82,5268.03,5227.03,4800.75,4989.17,4787.21,4753.16,4946.87,4972.71