In [1]:
import pandas as pd
import numpy as np
import os

from folium.features import DivIcon
import folium
import pyproj
from pyproj import Proj, transform

%matplotlib inline  
import matplotlib.pyplot as plt 
import seaborn as sns 

import warnings
warnings.filterwarnings(action='ignore')

def katec_to_wgs84(x, y):
    inProj  = Proj('+proj=tmerc +lat_0=38 +lon_0=128 +k=0.9999 +x_0=400000 +y_0=600000 +ellps=bessel +units=m +no_defs +towgs84=-115.80,474.99,674.11,1.16,-2.31,-1.63,6.43')
    outProj = Proj({ 'proj':'latlong', 'datum':'WGS84', 'ellps':'WGS84' })
    return transform( inProj, outProj, x, y )

WGS84 = { 'proj':'latlong', 'datum':'WGS84', 'ellps':'WGS84', }
KATEC = { 'proj':'tmerc', 'lat_0':'38N', 'lon_0':'128E', 'ellps':'bessel','x_0':'400000', 'y_0':'600000', 'k':'0.9999','towgs84':'-115.80,474.99,674.11,1.16,-2.31,-1.63,6.43'}
def wgs84_to_katec(longitude, latitude):
    return transform( Proj(**WGS84), Proj(**KATEC), longitude, latitude )

##### 현재 작업 위치 확인

In [2]:
pwd

'C:\\Users\\dudtj\\busan_moving_person\\custom_code'

In [3]:
cd ../data/opt_data/

C:\Users\dudtj\busan_moving_person\data\opt_data

In [4]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: CE27-0A82

 C:\Users\dudtj\busan_moving_person\data\opt_data 디렉터리

2021-08-19  오전 10:47    <DIR>          .
2021-08-19  오전 10:47    <DIR>          ..
2021-08-13  오후 06:03           104,645 100c_201901_busan_dense.csv
2021-08-13  오후 06:04           108,467 100c_201902_busan_dense.csv
2021-08-13  오후 06:04           108,683 100c_201903_busan_dense.csv
2021-08-13  오후 06:05           106,487 100c_201904_busan_dense.csv
2021-08-13  오후 06:06           110,164 100c_201905_busan_dense.csv
2021-08-13  오후 06:06           108,139 100c_201906_busan_dense.csv
2021-08-13  오후 06:07           105,982 100c_201907_busan_dense.csv
2021-08-13  오후 06:07           108,241 100c_201908_busan_dense.csv
2021-08-13  오후 06:08           109,859 100c_201909_busan_dense.csv
2021-08-13  오후 06:09           109,319 100c_201910_busan_dense.csv
2021-08-13  오후 06:10           108,488 100c_201911_busan_dense.csv
2021-08-13  오후 06:11           109,857 100c_201912_busan_dense.csv
2021-08-19  오전 10:47           356,815 100c_busan_dense_total.csv
              13개 파일           1,655,146 바이트
               2개 디렉터리  101,470,109,696 바이트 남음

In [5]:
%%time
# 이름 순차적으로 변경하기
kcelldf = pd.read_csv('100c_busan_dense_total.csv', encoding='UTF-8') # 이름변경필요부분

Wall time: 29.6 ms

In [ ]:
tdf = pd.DataFrame(kcelldf['whold_total'].groupby(kcelldf['id']).sum()).reset_index()
geodf = pd.merge(tdf, kcelldf[['id', 'x', 'y']] , how = 'left', on = 'id')[['id', 'x', 'y', 'total']].drop_duplicates()
geodf.to_csv('./100c_busan_dense_total.csv', index=False, encoding='UTF-8') # 이름변경필요부분
print("making success :)")

In [7]:
geodf = pd.read_csv('100c_busan_dense_total.csv', encoding='UTF-8')
geodf

,id,x,y,new_total201901,new_total201902,new_total201903,new_total201904,new_total201905,new_total201906,new_total201907,new_total201908,new_total201909,new_total201910,new_total201911,new_total201912,whole_total
0,49242847,492425,284725,6808.64,6013.77,5998.21,5574.27,5521.03,5655.74,6885.32,7102.09,7237.95,7342.83,6644.91,6182.78,76967.54
1,49252827,492525,282725,4.26,7.76,22.84,33.99,41.90,53.33,15.74,9.64,2612.62,6331.92,4831.53,5380.42,19345.95
2,49252847,492525,284725,27234.56,24055.08,23992.84,22297.08,22084.12,22622.96,27541.28,28408.36,28951.80,29371.32,26579.64,24731.12,307870.16
3,49252848,492525,284825,4429.90,4299.32,5587.10,4937.66,5311.81,4515.76,4101.02,4346.77,4807.00,4919.95,4369.10,4930.72,56556.11
4,49262828,492625,282825,5808.58,5571.56,6034.16,5617.78,5828.76,5183.77,5806.71,6410.90,6428.32,7232.65,7080.45,8797.99,75801.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2737,49352824,493525,282425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,457.60,1505.68,610.64,572.56,3146.48
2738,49572882,495725,288225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.33,NaN,NaN,NaN,4.33
2739,49472887,494725,288725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.08,4.08
2740,49472888,494725,288825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.08,4.08
2741,49472889,494725,288925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.08,4.08

In [8]:
def f_color(x):
    if x > geodf[geodf['whole_total'] > geodf['whole_total'].describe()[6]]['whole_total'].describe()[6]: # 기존 75%를 넘는 범위에서의 4사분위수 
        a = '#FF4F00'        
    elif x > geodf['whole_total'].describe()[6]:      # 75%를 기준으로 설정
        a = '#FCB100'   
    elif x > geodf['whole_total'].describe()[5]:      # 50%를 기준으로 설정
        a = '#E0F500' 
    elif x > geodf['whole_total'].describe()[4]:      # 25%를 기준으로 설정
        a = '#8CF700'  
    else:
        a = '#00F000'
    return a

geodf['cell_color']= geodf['whole_total'].apply(lambda x : f_color(x))
print("function success :)")
###################################################################
### 셀 수 변경###
cell_size = 100 #
#################
a = cell_size//2
x = geodf
x['nwx'], x['nwy'] = x['x']-a, x['y']+a
x['nex'], x['ney'] = x['x']+a, x['y']+a
x['swx'], x['swy'] = x['x']-a, x['y']-a
x['sex'], x['sey'] = x['x']+a ,x['y']-a

x['lng'], x['lat'] = katec_to_wgs84(x.x.to_list(), x.y.to_list())
x['nwlng'], x['nwlat'] = katec_to_wgs84(x.nwx.to_list(), x.nwy.to_list())
x['nelng'], x['nelat'] = katec_to_wgs84(x.nex.to_list(), x.ney.to_list())
x['swlng'], x['swlat'] = katec_to_wgs84(x.swx.to_list(), x.swy.to_list())
x['selng'], x['selat'] = katec_to_wgs84(x.sex.to_list(), x.sey.to_list())

map = folium.Map(location=[geodf['lat'].mean(), geodf['lng'].mean()], zoom_start=13)#, tiles='stamentoner')

for n in x.index:
    nw, ne, sw, se = [x.loc[n, 'nwlat'],x.loc[n, 'nwlng']],[x.loc[n, 'nelat'],x.loc[n, 'nelng']],[x.loc[n, 'swlat'],x.loc[n, 'swlng']],[x.loc[n, 'selat'],x.loc[n, 'selng']]
    cell_color = x.loc[n, 'cell_color']
    loc_name = 'ID:'+str(round(x.loc[n, 'id'],3)) + '       WholeTotal:'+ str(round(x.loc[n, 'whole_total'],3))
    folium.Polygon(locations=[nw, sw, se, ne],
                   color='white',
                   popup=loc_name,
                   weight=0.55,
                   fill=True,
                   fill_color=cell_color,
                   fill_opacity=0.6
     ).add_to(map)

map.save('./100c_busan_dense_total.html') ###### 이름변경필요부분
# map
print("done :)")

function success :)
done :)