In [2]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

In [3]:
cd ..

C:\Users\dudtj\busan_moving_person

In [4]:
cd "./data/parquet_data"

C:\Users\dudtj\busan_moving_person\data\parquet_data

In [5]:
file_list = os.listdir("./")
f_list = [file for file in file_list if file.endswith(".parquet")]
f_list

['50CELL_BUSANJINGU_2019_201901.parquet',
 '50CELL_BUSANJINGU_2019_201902.parquet',
 '50CELL_BUSANJINGU_2019_201903.parquet',
 '50CELL_BUSANJINGU_2019_201904.parquet',
 '50CELL_BUSANJINGU_2019_201905.parquet',
 '50CELL_BUSANJINGU_2019_201906.parquet',
 '50CELL_BUSANJINGU_2019_201907.parquet',
 '50CELL_BUSANJINGU_2019_201908.parquet',
 '50CELL_BUSANJINGU_2019_201909.parquet',
 '50CELL_BUSANJINGU_2019_201910.parquet',
 '50CELL_BUSANJINGU_2019_201911.parquet',
 '50CELL_BUSANJINGU_2019_201912.parquet']

In [6]:
pwd

'C:\\Users\\dudtj\\busan_moving_person\\data\\parquet_data'

In [7]:
testdf = pd.read_parquet('50CELL_BUSANJINGU_2019_201901.parquet')
testdf.head(3)

,id,x,y,timezn_cd,m00,m10,m15,m20,m25,m30,...,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,95151855,492502,284793,15,0.14,0.42,0.37,0.60,0.14,0.18,...,0.55,0.28,0.55,0.51,0.32,0.09,0.23,8.87,26230760,20190110
1,95164043,492552,284743,6,0.09,0.23,0.28,0.18,0.28,0.28,...,0.42,0.18,0.51,0.51,0.60,0.32,0.18,9.49,26230760,20190112
2,95164043,492552,284743,12,0.18,0.32,0.32,0.60,0.18,0.18,...,0.42,0.60,0.97,0.79,0.14,0.09,0.14,9.93,26230760,20190116

In [22]:
testdf = pd.read_csv('N_CV500_50CELL_BUSANJINGU_2019_201901.csv', encoding="UTF-8")
testdf.columns

Index(['id', 'x', 'y', 'timezn_cd', 'm00', 'm10', 'm15', 'm20', 'm25', 'm30',
       'm35', 'm40', 'm45', 'm50', 'm55', 'm60', 'm65', 'm70', 'f00', 'f10',
       'f15', 'f20', 'f25', 'f30', 'f35', 'f40', 'f45', 'f50', 'f55', 'f60',
       'f65', 'f70', 'total', 'admdong_cd', 'etl_ymd', 'admdong_nm'],
      dtype='object')

In [9]:
for i in tqdm(range(len(f_list))):
    datadf = pd.read_csv(f_list[0], error_bad_lines=False, encoding='UTF-8')
    datadf.groupby(by=['id', 'x', 'y', 'timezn_cd']).sum().reset_index().iloc[:,:-2]
    datadf = datadf[datadf.id > 0]

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:09<00:00,  1.30it/s]

,id,x,y,timezn_cd,m00,m10,m15,m20,m25,m30,...,f45,f50,f55,f60,f65,f70,total,admdong_cd,etl_ymd,admdong_nm
0,49222847,492225,284725,0,0.00,0.04,0.04,0.24,0.20,0.16,...,0.12,0.28,0.16,0.04,0.08,0.0,3.68,26230760,20190101,개금3동
1,49222847,492225,284725,0,0.05,0.05,0.23,0.32,0.14,0.14,...,0.09,0.05,0.05,0.05,0.18,0.0,3.38,26230760,20190102,개금3동
2,49222847,492225,284725,0,0.00,0.05,0.05,0.23,0.09,0.05,...,0.18,0.18,0.14,0.00,0.28,0.1,3.38,26230760,20190103,개금3동

In [20]:
for i in tqdm(range(len(f_list))):
    datadf = pd.read_csv(f_list[i], error_bad_lines=False, encoding='UTF-8')
    datadf = datadf.groupby(by=['id', 'x', 'y', 'timezn_cd']).sum().reset_index().iloc[:,:-2]
    datadf = datadf[datadf.id > 0]
    
    datadf['m'] = datadf.iloc[:,4:18].sum(axis=1)
    datadf['f'] = datadf.iloc[:,18:32].sum(axis=1)
    
    col1 = 'm_'+str(f_list[i][31:37])
    col2 = 'f_'+str(f_list[i][31:37])
    
    datadf = datadf.rename(columns = {'m':col1,'f':col2})
    a = datadf[['id','x','y','timezn_cd', col1, col2]]
    if i == 0:
        fpdf = a
    else:
        fpdf = pd.merge(fpdf, a, how='outer', on=['id','x','y','timezn_cd'])
    
    print(f_list[i])
    
fpdf.to_csv('dataset_fp.csv', encoding = "UTF-8" ,index = False)
print("DONE :)")

  8%|██████▉                                                                            | 1/12 [00:01<00:15,  1.41s/it]

N_CV500_50CELL_BUSANJINGU_2019_201901.csv

 17%|█████████████▊                                                                     | 2/12 [00:03<00:18,  1.80s/it]

N_CV500_50CELL_BUSANJINGU_2019_201902.csv

Exception ignored in: <generator object tqdm.__iter__ at 0x000001E2C866BC80>
Traceback (most recent call last):
  File "C:\Users\dudtj\anaconda3\lib\site-packages\tqdm\std.py", line 1193, in __iter__
    self.close()
  File "C:\Users\dudtj\anaconda3\lib\site-packages\tqdm\std.py", line 1287, in close
    fp_write('')
  File "C:\Users\dudtj\anaconda3\lib\site-packages\tqdm\std.py", line 1284, in fp_write
    self.fp.write(_unicode(s))
  File "C:\Users\dudtj\anaconda3\lib\site-packages\tqdm\utils.py", line 142, in inner
    return func(*args, **kwargs)
  File "C:\Users\dudtj\anaconda3\lib\site-packages\ipykernel\iostream.py", line 404, in write
    self.pub_thread.schedule(lambda : self._buffer.write(string))
  File "C:\Users\dudtj\anaconda3\lib\site-packages\ipykernel\iostream.py", line 203, in schedule
    self._events.append(f)
KeyboardInterrupt:

MemoryError: Unable to allocate 5.16 GiB for an array with shape (1, 692208637) and data type float64

In [18]:
fpdf.head(100)

,id,x,y,timezn_cd,m_201901,f_201901,m_201902,f_201902,m_201903,f_201903,...,m_201908,f_201908,m_201909,f_201909,m_201910,f_201910,m_201911,f_201911,m_201912,f_201912
0,49222847,492225,284725,0,56.08,48.81,50.52,40.86,57.27,48.81,...,67.51,65.70,63.36,63.28,64.73,64.08,47.26,57.11,44.85,45.23
1,49222847,492225,284725,1,65.96,57.05,56.17,44.98,66.17,56.86,...,84.25,78.27,80.40,79.53,81.67,78.08,63.00,73.17,58.78,57.79
2,49222847,492225,284725,2,71.10,61.11,59.77,49.77,69.11,58.39,...,86.49,80.42,80.78,80.51,87.59,80.69,69.59,75.35,61.90,63.65
3,49222847,492225,284725,3,77.09,64.61,65.44,51.49,70.08,62.30,...,90.66,83.50,85.86,84.17,92.70,79.59,72.35,76.49,64.55,67.74
4,49222847,492225,284725,4,80.41,68.43,68.36,54.21,71.36,64.30,...,92.30,85.50,89.09,84.30,94.85,82.07,75.88,75.31,67.02,71.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,49272837,492725,283725,23,11481.65,11550.74,10845.56,10638.39,11480.02,11721.10,...,11313.00,11543.47,11045.61,11429.72,11534.17,12227.27,11079.91,11377.73,11291.92,11516.73
96,49272842,492725,284225,0,4388.56,3735.14,3924.04,3467.90,4239.74,3580.19,...,4476.38,4128.23,4220.86,4174.19,3959.97,4090.01,3903.52,3994.91,3960.41,3870.43
97,49272842,492725,284225,1,4933.11,4346.45,4581.75,4096.90,4860.77,4263.08,...,5317.56,4971.56,5010.63,5021.06,4710.36,4861.28,4686.39,4700.20,4774.71,4670.94
98,49272842,492725,284225,2,4824.08,4379.85,4619.09,4136.64,4846.81,4408.67,...,5421.89,5179.27,5113.62,5047.28,4722.73,4928.01,4617.96,4711.01,4803.37,4795.12
99,49272842,492725,284225,3,4889.40,4502.72,4795.48,4278.19,5043.35,4616.32,...,5720.15,5350.82,5268.03,5227.03,4800.75,4989.17,4787.21,4753.16,4946.87,4972.71